{% extends "base.html" %}
{% load static %}

{% block content %}

<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for movie in movies %}
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <a href="/movie/{{movie.movieID}}">
                                <img class="card-img-top" src="{% static "" %}movie_data/{{movie.movieID}}.jpg" style="height: 32vw; object-fit: cover;">
                            </a>
                            <div class="card-body d-flex flex-column">
                                <p class="card-text">{{movie.name}}（{{movie.year}}）</p>
                                <div class="d-flex justify-content-between align-items-center mt-auto">
                                    <a href="/movie/{{movie.movieID}}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">详情</button>
                                    </a>
                                    <small class="text-muted">
                                        {% if movie.duration == 0 %} N/A
                                        {% else %} {{movie.duration}}
                                        {% endif %}
                                        分钟
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <ul class="pagination justify-content-center">
        {% for x in paginator %}
            {% if x != 0 %} <li class="page-item"><a class="page-link" href="/movie_list?page={{ x }}">{{ x }}</a></li>
            {% else %} &nbsp;<h3 class="text-muted">···</h3>&nbsp;
            {% endif %}
        {% endfor %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li>
            <form method="get" action="/movie_list" class="form-inline">
                <div style="margin: auto;">
                    <input type="text" class="form-control" placeholder="输入页码" style="width: 8vw;" name="page">
                    <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Go！</button>
                </div>
            </form>
        </li>
    </ul>
</main>

{% endblock %}